*{
  font-family: "Kanit";
  /*1rem/em = 16px*/
}

body, html{
  height: 100%;
}

body {
  overflow-x: hidden;
  background: #0E0F14;
}

p {
  line-height: 1.75;
}

/*--- Preloader ---*/
.preloader{
  background-color: #0E0F14;
  color: #FFF;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:999999;
  margin:0 auto;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.animate {
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
}

@keyframes load {
  0%{
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 3px;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
  }
}

/*--- Page Section ---*/
.page-section {
  padding: 5rem 0;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #FFFFFF;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

::-moz-selection {
  background: #FFF;
  text-shadow: none;
}

::selection {
  background: #FFF;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn-custom {
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  border: 1px solid #FFF;
  color: #FFF;
  position: relative;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.btn-custom span{
  position: relative;
  z-index: 2;
}

.btn-custom:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FFF;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.btn-custom:hover {
  color: #0E0F14;
}

.btn-custom:hover:after{
  width: 100%;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #0E0F14;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 100%;
}

.btn-social:hover{
  background: #FFF;
  color: #0E0F14;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0E0F14;
}
#mainNav .navbar-brand {
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #FFF;
}

header.hero {
  height: 100%;
  padding-top: 17rem;
  padding-bottom: 6rem;
  color: #fff;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.hero .hero-caption{
  position: relative;
  top: -5rem;
}
header.hero .hero-subheading {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 25px;
}
header.hero .hero-heading {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 3.75rem;
  margin-bottom: 3rem;
}

/*--- About ---*/
#about {
  color: #FFFFFF;
}

#about .talk a {
  font-size: 2rem;
  color: #FFFFFF;
}

/*--- Box ---*/
#services .box {
  height: 27rem;
  margin: 0 10px 40px 10px;
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;  
  transition: all 0.3s ease-in-out;
  text-align: center;
  background: #0E0F14;
  border: 1px solid #DDD;
  border-radius: 5px;
  position: relative;
  transition: all .35s;
  -webkit-transition: all .35s;
}

#services .box .service-content{
  position: relative;
  z-index: 2;
}

#services .box:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FFF;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#services .box:hover {
  background: #FFF;
  border: 0px;
  /*-webkit-transform: scale(1.05);
  transform: scale(1.05);*/
}

#services .box:hover:after{
  width: 100%;
}

#services .box:hover .icon{
  background: #0E0F14;
}

#services .box:hover .icon i{
  color: #FFF;
}

#services .box:hover .title a{
  color: #0E0F14;
}

#services .box:hover .description{
  color: #777;
}

#services .icon {
  margin: 0 auto 1rem auto;
  padding-top: 0.75rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  background: #FFF;
}

#services .icon i {
  font-size: 3rem;
  line-height: 1.5;
  color: #0E0F14;
}

#services .title {
  font-weight: 700;
  margin: 1rem 0;
  font-size: 1.5rem;
}

#services .title a {
  color: #FFF;
}

#services .description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 0;
  text-align: center;
  color: #AAA;
}

/*--- Hire ---*/
#hire .box {
  height: 33rem;
  margin: 0 10px 40px 10px;
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;
  background: #121318;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  text-align: center;
  background: #0E0F14;
  border: 1px solid #DDD;
  border-radius: 5px;
  position: relative;
  transition: all .35s;
  -webkit-transition: all .35s;
}

#hire .box .hire-content{
  position: relative;
  z-index: 2;
}

#hire .box:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FFF;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#hire .box:hover {
  background: #FFF;
  border: 0px;
  /*-webkit-transform: scale(1.05);
  transform: scale(1.05);*/
}

#hire .box:hover:after{
  width: 100%;
}

#hire .box:hover .hire-img{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  border: .3rem solid #0E0F14;
}

#hire .box:hover .title a{
  color: #0E0F14;
}

#hire .box:hover .description{
  color: #777;
}

#hire .hire-img{
  width: 12rem;
  height: 12rem;
  margin-bottom: 1rem;
  border: .3rem solid #FFF;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#hire .title {
  font-weight: 700;
  margin: 1rem 0;
  font-size: 1.5rem;
}

#hire .title a {
  color: #FFF;
}

#hire .description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 0;
  text-align: center;
  color: #AAA;
}

/*--- Portfolio ---*/
#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #FFF;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member .team-member-img{
  width: 14rem;
  height: 14rem;
  border: 0.3rem solid #FFF;
}

.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: #fff;
}

section#contact {
  background-color: #0E0F14;
}
section#contact .section-heading {
  color: #fff;
  font-weight: 700;
  margin-bottom: 3rem;
}

.footer {
  background: #0E0F14;
  color: #FFF;
  text-align: center;
  font-size: 0.9rem;
}

/*--- Back to top button ---*/
.back-to-top {
  position: fixed;
  display: none;
  background: #FFF;
  color: #0E0F14;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3;
  font-size: 1rem;
  border-radius: 50%;
  right: 1rem;
  bottom: 1rem;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 0.75rem;
  color: #0E0F14;
}

.hr{
  background: #333;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0E0F14;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.4);
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}

@media(max-width: 768px){
  header.hero .hero-subheading {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  header.hero .hero-heading {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }
  
  btn-custom {
    padding: 1rem 2rem;
    font-size: 0.75rem;
    font-weight: 700;
    border: 3px solid #FFF;
    color: #fff;
  }

  #about .talk a {
    font-size: 2rem;
  }

  .page-section h2.section-heading {
    font-size: 1.75rem;
  }
  .page-section h3.section-subheading {
    font-size: 0.75rem;
  }
}

@media(max-width: 576px){
  header.hero {
    text-align: center;
    background-position: 89% 0%;
  }
  header.hero .hero-subheading {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
  }
  header.hero .hero-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
    margin-bottom: 2.75rem;
  }

  .btn-custom{
    margin-top: 1.5rem;
  }

  #about .talk a {
    font-size: 1.5rem;
  }

  #hire .box {
    height: auto;
    padding: 2rem;
  }

  .page-section h3.section-heading {
    font-size: 1.5rem;
  }
}
